# app
NEXT_PUBLIC_APP_URL = "https://xxxx.xxxx.xxx"
NEXT_PUBLIC_APP_NAME = "ChatGPT Image 2"
NEXT_PUBLIC_PROMPT_LIBRARY_BASE_URL = "https://img.cdance.ai/uploads/prompt-library"
PROMPT_LIBRARY_BASE_URL = "https://img.cdance.ai/uploads/prompt-library"
PROMPT_SITEMAP_LIMIT = "5"

# theme
NEXT_PUBLIC_THEME = "default"

# appearance
NEXT_PUBLIC_APPEARANCE = "dark"

# database
DATABASE_URL = ""
DATABASE_PROVIDER = "postgresql"
DB_SINGLETON_ENABLED = "false"
DB_SCHEMA = "public"
DB_MAX_CONNECTIONS = "10"

# auth secret
# openssl rand -base64 32
AUTH_SECRET = ""
